anyio
asgiref
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
Django
django-cors-headers
django-environ
django-filter
djangorestframework
drf-nested-routers
executing
fastjsonschema
filelock
fonttools
fqdn
fsspec
h11
httpcore
idna
jedi
Jinja2
joblib
json5
jsonpointer
jupyter_core
jupyterlab_pygments
kiwisolver
Markdown
MarkupSafe
matplotlib-inline
mistune
mpmath
nest-asyncio
networkx
numpy
overrides
packaging
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt_toolkit
psutil
pure_eval
pycparser
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
Send2Trash
setuptools
six
sniffio
soupsieve
sqlparse
sslcommerz-lib
stack-data
sympy
terminado
threadpoolctl
tinycss2
torch
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client